*~
*.pyc
.DS_Store
.ipynb_checkpoints
_site
lessons/misc-r/code/avgX.txt
lessons/misc-r/code/block01_basicsWorkspaceWorkingDirProject.html
lessons/misc-r/code/block01_basicsWorkspaceWorkingDirProject.md
lessons/misc-r/code/figure/
lessons/misc-r/code/myPlot.pdf
lessons/misc-r/plyr/plyr.html
lessons/misc-r/plyr/plyr.md
lessons/misc-r/tutorial.html
lessons/swc-git/git_tutorial copy.md
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.aux
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.log
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.nav
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.out
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.snm
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.synctex.gz
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.toc
lessons/swc-git/slides/01-Introduction/01-GitIntroduction.vrb
lessons/swc-git/slides/02-Github/02-Github.aux
lessons/swc-git/slides/02-Github/02-Github.log
lessons/swc-git/slides/02-Github/02-Github.nav
lessons/swc-git/slides/02-Github/02-Github.out
lessons/swc-git/slides/02-Github/02-Github.snm
lessons/swc-git/slides/02-Github/02-Github.synctex.gz
lessons/swc-git/slides/02-Github/02-Github.toc
lessons/swc-git/slides/02-Github/02-Github.vrb
lessons/swc-git/slides/03-Branching/03-Branching.aux
lessons/swc-git/slides/03-Branching/03-Branching.log
lessons/swc-git/slides/03-Branching/03-Branching.nav
lessons/swc-git/slides/03-Branching/03-Branching.out
lessons/swc-git/slides/03-Branching/03-Branching.snm
lessons/swc-git/slides/03-Branching/03-Branching.synctex.gz
lessons/swc-git/slides/03-Branching/03-Branching.toc
lessons/swc-git/slides/03-Branching/03-Branching.vrb